body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/mountain_bike_home.jpg');
    background-size: cover;
}

.ul-menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

.li-menu {
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.a-menu {
    color: white;
    text-decoration: none;
}

.welcome-text {
    color: white;
    width:500px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.welcome-text a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}